<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AngelSensorTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CDB6C431C73926E00E15C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CDB6C5C1C73926E00E15C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CDB6C671C73926E00E15C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
